* {
    box-sizing: border-box;
}

/*
Gotta make sure this prints!
https://stackoverflow.com/questions/3893986/css-media-print-issues-with-background-color
*/
body {
    -webkit-print-color-adjust: exact !important;
}

.wrapper {
    font-family: "Comic Sans MS", sans-serif;
}

.card {
    float: left;
    width: 2.4in;
    height: 3.2in;
    margin: 0.0125in;
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.card-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-category-border {
    width: 24px;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    padding: 8px;
    flex-grow: 1;
    font-size: 24px;
}

.card.item {
    border: 8px solid black;
}

.card-rooms {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 14px;
}

.card-room {
    padding: 8px;
    flex-grow: 1;
    /* for it's children */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-room-points {
    padding-right: 4px;
}

.card-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}
.card-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.category-emoji {
    font-size: 18px;
}

.category-label {
    font-size: 10px;
}

.card.action {
    border: 8px dashed black;
}

.card.action-description {
    padding: 8px;
    background-color: lightgrey;
    width: 100%;
}

.bathroom {
    background-color: rgba(176, 255, 207, 1);
}

.bedroom {
    background-color: rgba(188, 239, 174, 1);
}

.living-room {
    background-color: rgba(197, 185, 161, 1);
}

.kitchen {
    background-color: rgba(172, 131, 149, 1);
}

.any-room {
    background-color: rgba(177, 85, 145, 1);
}

.page-break {
    page-break-after: always;
    display: block;
}
